:root{
    --bg-color: rgb(20,20,20);
    --card-color: rgb(0, 0, 0);
}


html,body{
    background-color: rgb(13,13,13);
    height: 100vh;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    z-index: 2;
}




html,body{
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(8, 8, 12);
}


#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
    max-width: 916px;
    width: calc(100%-20px);
}

.card{
    height: 260px;
    width: 300px;
    position: relative;
    display: flex;
    background-color: rgb(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 10px;
    color: gray;
}

.card:hover::before{
    opacity: 1;
}
#cards:hover > .card > .card-border {
    opacity: 1;
}

.card::before, .card>.card-border{
    content: "";
    border-radius: inherit;
    z-index: 2;
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,0.06),
        transparent 40%
    );
    opacity: 0;
    transition: opacity 500ms;
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
}

.card::before{
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,0.1),
        transparent 40%
    );
    z-index: 3;
}

.card> .card-border{
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,0.5),
        transparent 40%
    );
    z-index: 1;
}

.card> .card-content{
    background-color: var(--card-color);
    border-radius: inherit;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    margin: 1px;
    position: relative;
    z-index: 2;
}
#glowcards-parent{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 100%;
    translate: 0px -20%;
}
#contenthead-font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
}
#content-font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    text-align: center;
}

.img-container{
    display: flex;
    justify-content: center;
}

.navbar{
    height: 10%;
    width: 101%;
    background-color: rgb(0,0,0);
    border: 3px solid rgb(230, 69, 0);
    translate: -2px -2px;
    display: flex;
    color: aliceblue;
    align-items: center;
    z-index: 1;
}
#design{
    font-size: xxx-large;
    color: rgb(81, 80, 80);
    font-weight: bolder;
    translate: -45px -5px;
}
#brandico{
    translate: -20% 5px;
}
#zeonlog{
    translate: 5px 3px;
}
.wrapper{
    position: relative;
    width: 70%;
    height: 90%;
    margin: 0;
    display: flex;
}
.fade{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right ,black,black,black,black,black, transparent);
    z-index: 3;
    position: relative;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    overflow: hidden;
    

}
#lap1,#lap2{
    z-index: 1;
    top: 0;
    left: 0;
    width: 60%;
    height: 70%;
    translate: 98% 15%;
    position: absolute;
}
#lap2{
    translate: 163% 20%;
    width: 50%;
    height: 60%;
    z-index: 0;
}
#heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
#head{
    margin-left: 30%;
}
#head-content{
    margin-left: 20%;
    translate: -20px;
}
#badge{
    width: 50%;
    height: 18%;
    z-index: 5;
    position: relative;
    overflow: hidden;
    color: aliceblue;
    font-family: fantasy;
    justify-content: space-around;
    translate: 8% -200%;
    


    
}
#sticker{
    display: flex;
    justify-content: space-around;
    
}
#rtx-sticker{
    z-index: 1;
    transition: filter 0.3s ease-in-out, box-shadow 2s ease-in-out;
}
#rtx-sticker:hover{
    filter: invert();
    box-shadow: 0 0 2px 3px #68e012;
}
#intel-sticker{
    transition: filter 0.3s ease-in-out, box-shadow 2s ease-in-out;
}
#intel-sticker:hover{
    filter: invert();
    box-shadow: 0 0 2px 3px #0a2bd0;
}
#win-sticker{
    transition:filter 0.3s ease-in-out, box-shadow 2s ease-in-out;
}
#win-sticker:hover{
    filter: contrast(0);
    box-shadow: 0 0 2px 3px #999999;
}
#stick-container{
    display: flex;
    justify-content: space-around;
}
#stick-info1{
    translate: 50%;
}
#stick-info2{
    translate: 40%;
}
#stick-info3{
    translate: 10%;
}


@keyframes flow{
    0%{
        transform: translateY(-17px);
    }
    70%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}

.breather{
    animation: breathe 5s linear infinite;
    transition: transform 0.2s ease-in-out;
    filter: drop-shadow(10px 10px 15px rgba(0,0,0,0.9));
}
.breather2{
    animation: breathe2 7s linear infinite;
    transition: transform 0.4s ease-in-out;
}


@keyframes breathe{
    0%, 100%{
        transform: translateY(0);
    
    }
    50%{
        transform: translateY(-9px);
    }
}
@keyframes breathe2{
    0%, 100%{
        transform: translateY(0);
    
    }
    50%{
        transform: translateY(-7px);
    }
    90%{
        transform: translateY(2px);
    }
}

#glowcard-head{
    width: 100%;
    height: 80px;
    translate: 0px -169%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.navbar::before, .navbar::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), black,transparent, black );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index:-1;
    padding: 3px;
    border-radius: 10px;
    animation: 5s spin linear infinite;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle:360deg;
    }
}

.rtx-hold{
    position: relative;
    height: 100px;
    width: 210px;
    
}
.rtx-sticker{
    z-index: 3;

}
.rtx-text{
    translate: 40px 250%;
    z-index: -1;
    animation: revealText 1s ease-in-out forwards;
    }

.intel-hold{
    position: relative;
    height: 100px;
    width: 80px;
    
}
.intel-sticker{
    z-index: 3;

}

.intel-text{
    translate: 0px 250%;
    z-index: -1;
    animation: revealText1 1s ease-in-out forwards 0.4s;
    }

    .win-hold{
        position: relative;
        height: 100px;
        width: 80px;
        
    }
    .win-sticker{
        z-index: 3;
    
    }
    
    .win-text{
        translate: 0px 250%;
        z-index: -1;
        animation: revealText1 1s ease-in-out forwards 1s;
        }


@keyframes revealText{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        translate: 40px 10px;
    }
}

@keyframes revealText1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        translate: 0px 10px;
    }
}
.slanted-gradient{
    height: 70%;
    width: 100%;
    translate: 0% -29%;
    background: linear-gradient(to right, black, black,rgb(2,2,2));
    z-index: 5;
    color: aliceblue;
    display: flex;
}
#cool-img-container{
    width: 100%;
    z-index: -1;
    transform: rotate(180deg) scaleY(-1);
    translate: -40%;
}
#cool-text-heading{
    translate: 0% 200%;
    width: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

#cool-text-text{
translate: -30% 150%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}